<p> <%=@restaurant.name %> </p>
<p> <%=@restaurant.description %> </p>
<%=@restaurant.reviews.each do |restaurant| %>
  <p> <%=restaurant.thoughts%> </p>
  <span> <%=restaurant.rating%> </span>
<%end%>